<div>
  <h2>Create New Post</h2>
  <form class="create-post-form">
    <div>
      <label for="title-create-post">Title</label>
      <input id="title-create-post" type="text" />
    </div>
    <div>
      <label for="content-create-post">Content</label>
      <textarea id="content-create-post"></textarea>
    </div>
    <div>
      <button type="submit">Create</button>
    </div>
  </form>
</div>

<script src="/js/post.js"></script>